.div__category {
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@include mobile {
  .div__category {
    overflow-x: auto;
  }

  .list {
    display: flex;
    gap: 10px;
    will-change: transform;
  }
}

@include tablet {
  .div__category {
    overflow-x: auto;

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      will-change: transform;
    }
  }
}
