.div__category {
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@include mobile {
  .div__category {
    overflow-x: auto;
    -ms-overflow-style: none; // IE, Edge에서 스크롤바 숨기기
    scrollbar-width: none; // Firefox에서 스크롤바 숨기기

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari에서 스크롤바 숨기기
    }
  }

  .list {
    display: flex;
    gap: 10px;
    will-change: transform;
  }
}

@include tablet {
  .div__category {
    overflow-x: auto;

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      will-change: transform;
    }
  }
}

.filter {
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 10px;
  border-radius: $border-radius--circle;
  cursor: pointer;

  background-color: $gray-light;
  color: $black-light;
  flex-shrink: 0;
}

.filter_select {
  background-color: $orange;
  color: $white;
}
