.container {
  width: 100%;
  position: sticky;
  z-index: $search-bar;
  top: calc(env(safe-area-inset-top) + 50px);

  padding: $padding-page;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $beige;
}
