.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: $padding-page;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div__about {
  @include about-box();
}

.div__radio_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;

  div {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1.3rem;
  }

  input {
    @include radio();
  }

  input:checked {
    @include radioCheck();
  }

  label {
    @include radioLabel();
  }

  input:checked + label {
    @include radioLabelCheck();
  }
}
