.container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: calc(env(safe-area-inset-top) + 30px) env(safe-area-inset-right) calc(env(safe-area-inset-bottom) + 30px)
    env(safe-area-inset-left);
}

.section__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

  div {
    @include flexbox-center(100%, 50px);
    border-radius: 12px;
    background-color: $orange;
    color: $white;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.54);
  }

  p {
    font-size: 10px;
    color: $gray-dark;
    text-align: center;
  }
}

.section__carousel {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;

  .div__img_container {
    display: flex;
    gap: 20px;
    width: calc((100% * 3) + 60px);
    height: 70vh;

    img {
      width: calc((100% / 3) - 20px);
      height: 100%;
    }
  }

  .div__dot_container {
    @include flexbox-center(100%, 50px);
    gap: 15px;

    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $gray;
      cursor: pointer;
    }

    .div__cur_dot {
      background-color: $gray-dark;
    }
  }
}
