.container {
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  width: 100%;
  flex-grow: 1;
  position: relative;
  background-color: $white;
}
