@use './base/breakpoint' as *;

/**
mobile
tablet
desktop
*/
@mixin mobile {
  @media all and (min-width: 320px) and (max-width: ($breakpoint-mobile - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: $breakpoint-mobile) and (max-width: ($breakpoint-tablet - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin flexbox-center($width: auto, $height: auto) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
}

@mixin svg-square($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin about-box() {
  padding: 10px;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: #444444;
  font-size: 0.9rem;
  font-size: 400;
}

@mixin radio() {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@mixin radioCheck() {
  border-color: #ff6347;
  background-color: #ff6347;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }
}

@mixin radioLabel() {
  color: #777777;
  transition: all 0.3s ease-in-out;
}

@mixin radioLabelCheck() {
  color: black;
}
