$border-radius--default: 10px;
$border-radius--circle: 30px;
$border--default: 0.3px, solid, #d2d2d2;
$padding-page: 0 20px;

/*
    COLOR
*/
$orange: #f45f41;
$black: #000000;
$black-light: #353535;
$white: #ffffff;
$beige: #ececec;
$gray: #d9d9d9;
$gray-light: #d2d2d2;
$gray-dark: #777777;

/*
    font-weight
*/
$font-family: 'Noto Sans KR', sans-serif;
$font-default: 600;
$font-thin: 400;
