.div__category {
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/*
    반응형 리사이징
  */

@include mobile {
  .div__category {
    overflow-x: auto;
  }

  .list {
    display: flex;
    gap: 10px;
    will-change: transform;
  }
}

@mixin category-grid-size($colCnt) {
  .div__category {
    overflow-x: auto;

    .list {
      display: grid;
      grid-template-columns: repeat($colCnt, 1fr);
      gap: 10px;
      justify-items: center;
    }
  }
}

@include tablet {
  @include category-grid-size(3);
}

@media all and (min-width: 570px) {
  @include category-grid-size(4);
}
@media all and (min-width: 900px) {
  @include category-grid-size(5);
}
@media all and (min-width: 1200px) {
  @include category-grid-size(6);
}
@media all and (min-width: 1500px) {
  @include category-grid-size(7);
}
