.detail {
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 15px;
  background-color: $gray-light;
  border-radius: $border-radius--circle;
  color: $black-light;
}

.searchbar {
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 10px;
  border-radius: $border-radius--circle;
  cursor: pointer;

  background-color: $gray-light;
  color: $black-light;
  flex-shrink: 0;
}

.searchbar_select {
  background-color: $orange;
  color: $white;
}
