.container {
  padding: $padding-page;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div__no_item {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-dark;
}
