.container {
  width: 100%;
  height: 60px;

  padding: 10px 20px;

  position: sticky;
  z-index: $header;
  top: env(safe-area-inset-top);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $white;

  svg {
    height: 30px;
    width: 30px;
  }
}

.bg_color {
  background-color: inherit;
}

.prev {
  width: 30px;
  height: 30px;
  cursor: pointer;

  .hidden {
    display: none;
  }
}

.cur {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 20px;
    font-weight: $font-default;
    margin-right: 5px;
  }

  .cur__wrapper {
    display: block;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.menu {
  width: 30px;
  height: 30px;
}
