.container {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0px;
  display: flex;
  padding: $padding-page;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  gap: 20px;
  background-color: $white;

  svg {
    width: 30px;
    height: 30px;
  }
}

.cur {
  flex-grow: 1;
  font-size: 24px;
  font-weight: $font-default;
}

.menu {
  svg:last-child {
    margin-left: 10px;
  }
}
