.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $modal;

  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.div__alert_box {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;

  p {
    font-weight: $font-thin;
    margin: 10px 0;
  }

  button {
    padding: 5px 20px;
    background-color: $orange;
    border: none;
    border-radius: 10px;
    color: $white;
    font-family: $font-family;
  }
}
