.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $modal;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div__alert_box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;

  p {
    font-weight: $font-thin;
    margin: 10px 0;
  }

  button {
    padding: 5px 20px;
    background-color: $orange;
    border: none;
    border-radius: 10px;
    color: $white;
    font-family: $font-family;
  }
}
