// dev 에서 확인용. 배포시 삭제필요
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */

  @include mobile {
    font-size: 14px;
    font-weight: $font-default;
  }
  @include tablet {
    font-size: 16px;
    font-weight: $font-default;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased; /* Safari, Chrome */
  -moz-osx-font-smoothing: grayscale; /* macOS */
  background-color: rgba(0, 0, 0, 0.7);

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
