// dev 에서 확인용. 배포시 삭제필요
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  @include mobile {
    font-size: 14px;
    font-weight: $font-default;
  }
  @include tablet {
    font-size: 16px;
    font-weight: $font-default;
  }
  @include desktop {
    font-size: 16px;
    font-weight: $font-default;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased; /* Safari, Chrome */
  -moz-osx-font-smoothing: grayscale; /* macOS */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
