.container {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $white;

  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 470px;
  }
}
