.container {
  position: relative;
  max-width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: $white;

  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;

    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
  @include tablet {
    width: 470px;
  }
}
