.container {
  position: relative;
  padding-bottom: 50px;
}

.div__category_wrapper {
  padding: 20px;
  position: fixed;
  top: 60px;
  width: 100%;

  background-color: $beige;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  z-index: $subscribe-category;

  div {
    @include flexbox-center(100%, 30px);
    background-color: $gray-dark;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .div__select_category {
    background-color: $orange;
  }
}

.div__no_item {
  margin-top: 70px;
  min-height: calc(100vh - 130px);
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: $gray-dark;
    text-align: center;
  }
}

.div__item_wrapper {
  margin-top: 70px;
  min-height: calc(100vh - 130px);
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  h5 {
    text-align: right;
    font-size: 1rem;
  }
}
