.img__cover_container {
  position: relative;
  @include flexbox-center(100%, 55vh);
  background-size: cover;
}

.img__cover_container::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
}

.img__poster {
  z-index: $movie-detail;
  width: 65%;
  height: 75%;
  border-radius: $border-radius--default;
  box-shadow: 0px 0px 20px $black;
}

.div__details {
  padding: 50px 35px;
  background-color: $white;
}

.main_info__wrapper {
  flex-direction: column;
  display: flex;
  gap: 5px;
  margin-bottom: 35px;
}

.div__category_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 0;
}

.open_date {
  color: $orange;
}

.section_title {
  padding: 5px 0;
  margin-top: 20px;
  border-bottom: 1px solid $gray-dark;
  color: $gray-dark;
}

.table {
  padding: 5px 10px;
  font-weight: $font-thin;
}

.table_tr {
  display: grid;
  grid-template-columns: 70px auto;
  margin: 7px 0;
}

.table_th {
  color: $gray-dark;
  border-right: 0.7px solid $gray-dark;
}

.table_td {
  margin-left: 7px;
}

.plot {
  padding: 12px 10px;
  font-weight: $font-thin;
  line-height: 20px;
}

.div__reservation {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 $gray-dark;
  }
}

.div__recommend {
  width: 100%;
  height: 300px;
  position: relative;

  background-color: $gray;
  display: flex;
  align-items: center;

  span {
    position: absolute;
    top: -16px;
    left: 25px;
    padding: 10px 20px;
    border-radius: $border-radius--circle;

    background-color: $orange;
    color: white;
  }

  .div__reco_list {
    overflow: hidden;
    padding: 0 20px;
  }
}

.div__movie_carousel {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  scroll-snap-type: x mandatory; /* 스크롤할 때 부드럽게 요소에 맞춤 */

  &::-webkit-scrollbar {
    height: 8px;
    background-color: $gray-light;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* 스크롤바 배경 */
    border-radius: 10px;
  }

  @include mobile {
    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    scroll-snap-align: start; /* 스크롤 시 요소의 시작점에서 멈춤 */
  }
}
